/* src/App.css */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


.table-container {
  height: calc(100vh - 10px); /* Ajuste a altura conforme necessário */
  overflow-y: auto;
}

.table-cell {
  padding: 8px 10px; /* Ajuste os valores de padding conforme necessário */
}
