/* ListaUsuario.css */

.app-bar {
    background-color: #3f51b5;
    color: white;
}

.container {
    margin-top: 20px;
}

.editing-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.error-message {
    color: red;
}

.table-container {
    height: calc(100vh - 200px); /* Ajuste a altura conforme necessário */
    overflow-y: auto;
}

.table-cell {
    padding: 8px 10px; /* Ajuste os valores de padding conforme necessário */
}
